body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
  }

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;    
}


/*--------------- Color-sections---------------- */

.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;  
}


/*--------------------------- Headings--------------------- */

.big-heading{     
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 1.5;
}

.section-heading{
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.5;  
}

/* --------------Containers------------- */

.container-fluid{
    padding: 7% 15%;  
   }

/* ---------------Navigation Bar---------------- */

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding:0rem 0rem 4.5rem;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 bold;
}

.nav-item{
    padding: 0px 18px;
    margin-right: 8px;
}


/*------------------- Download Buttons--------------------- */

.Download-Button{
    margin: 5% 3% 5% 0%;
}


/* --------------------------Title ------------------------*/


#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left; 
}

.Title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/*------------------------ Features -----------------------*/


#features{
    position: relative;
}

.feature-box{
    padding: 5% 0% ;
}

.feature-title{
    font-weight: bold;
    font-size: 1.6rem;
}

.features-words{
    width: 80%;
    margin: auto;
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}



/*----------------- Testimonial Section------------------ */

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.5;  
}

.Testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.Press-logos{
    width: 15%;
    margin: 20px 20px 50px;
}

/*--------------------- Princing --------------------- */

#pricing{
    padding: 100px;
}

.pricing-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.5;  
}


/* ----------------- Call to Action ------------------ */

#cta{
    background-color: #ff4c68;
    color: #fff;
}


/*--------------------- Footer ------------------------*/

.Footer-icons
{
   margin: 20px 10px;
}


/*---------------------- Media-Query--------------------- */

@media (max-width: 1140px)
{
    .Title-image{
        width: 60%;
        transform: rotate(0deg);
        position: static;
    }
    #title .container-fluid{
        text-align: center;
    }

}
